body{
    background: white;
}

.mapdiv{
    position: absolute;
    left: 30%;
    margin: -25px 0 0 -25px;

}

.table{
position:float;  
}




.mapdiv path{
    fill: #00B0F0;
    stroke: "black";
    stroke-width: 1px;
}

.mapdiv :hover{
    fill:#181833;
}

.mapdiv g{
    fill: #00B0F0;
    stroke: #00B0F0;
    stroke-width: 1px;
    
}

