body{
    background: white;
}

.mapdiv{
    display:grid;
    
    grid-template-rows: 2;
    position: float;
    left: 10%;
    margin: -25px 0 0 -25px;

}


.mapdiv path{
    fill: #00B0F0;
    stroke: "black";
    stroke-width: 1px;
}

.mapdiv :hover{
    fill:#181833;
}

.mapdiv g{
    fill: #00B0F0;
    stroke: #00B0F0;
    stroke-width: 1px;
    
}

.button-total {
    text-align:center;
    background-color: #63ACFC;
    color: #fff;
    margin-top: 20px;
    border-radius: 0px 0px 30px 30px;
    padding: 35px;
}
